:root {
  --first-color: #1C639C;
  --second-color: #fff;
  --white-color: #fff;
  --gray-color: #c4c4c4;
  --black-color: #000;
  --link-color: #222;
  --title-color: #222;
  --text-color: #222;
  --second-text-color: #888888;
  --font: "Raleway", sans-serif;
  --max-width: 1280px;
  --header-height: 4rem;
}

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
  background-color: #f4f4f4;
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.4;
  color: var(--text-color);
}

button {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: var(--header-height);
	background-color: var(--second-color);
}

.main-header-container {
	width: 100vw;
	max-width: calc(var(--max-width) - 2rem);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: transparent;
	margin: 0 auto;
}

.header__title-container {
	display: flex;
	align-items: center;
	gap: 10px;
	height: 100%;
}

.header__title-container > img {
	
}

.header__title-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	height: 100%;
}

.header__title-text > h2 {
	margin: 0;
	font-size: 24px;
	font-weight: bold;
	line-height: 1;
}

.header__title-text > p {
	margin: 0;
	font-size: 12px;
	font-weight: regular;
	line-height: 1;
}

.button__menu-mobile {
	border: none;
	background-color: transparent;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button__menu-mobile > .icon-hamburger {
	display: block;
}

.button__menu-mobile > .icon-close {
	display: none;
}

.button__menu-mobile.active > .icon-hamburger {
	display: none;
}

.button__menu-mobile.active > .icon-close {
	display: block;
}

.main-menu {
	position: fixed;
	top: var(--header-height);
	right: 0;
	width: 100vw;
	height: 100vh;
	transform: translateX(100%);
	background-color: var(--second-color);
	transition: all 300ms ease-in-out;
	z-index: 2;
}

.main-menu.active {
	transform: translateX(0);	
}

.main-menu__background {
	display: none;
	transition: all 300ms ease-in-out;
}

.main-menu.active + .main-menu__background {
	display: unset;
	position: fixed;
	top: var(--header-height);
	left: 0;
	width: 100vw;
	height: calc(100vh - var(--header-height));
	background-color: #000000AA;
	z-index: 1;
}

@media screen and (min-width: 600px) {
	.main-menu {
		width: 50vw;
	}
}

.main-menu nav {
	width: 100%;
}

.main-menu nav ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding: 0;
	margin: 0;
}

.main-menu nav ul li {
	list-style: none;
	width: 100%;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-menu nav ul li a {
	width: 100%;
	height: 100%;
	color: var(--first-color);
	background-color: var(--second-color);
	font-size: 16px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-menu nav ul li a:hover {
	color: var(--second-color);
	background-color: var(--first-color);
}

.main-container {
	margin-top: var(--header-height);
}

.text-title {
	
}

.text-title__username {
	
}