<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>sysacad-java</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscripcionServlet</display-name>
    <servlet-name>InscripcionServlet</servlet-name>
    <servlet-class>servlets.InscripcionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscripcionServlet</servlet-name>
    <url-pattern>/InscripcionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ABMCCarreraServlet</display-name>
    <servlet-name>ABMCCarreraServlet</servlet-name>
    <servlet-class>servlets.ABMCCarreraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ABMCCarreraServlet</servlet-name>
    <url-pattern>/ABMCCarreraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaCarreraServlet</display-name>
    <servlet-name>AltaCarreraServlet</servlet-name>
    <servlet-class>servlets.AltaCarreraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaCarreraServlet</servlet-name>
    <url-pattern>/AltaCarreraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BajaCarreraServlet</display-name>
    <servlet-name>BajaCarreraServlet</servlet-name>
    <servlet-class>servlets.BajaCarreraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BajaCarreraServlet</servlet-name>
    <url-pattern>/BajaCarreraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificacionCarreraServlet</display-name>
    <servlet-name>ModificacionCarreraServlet</servlet-name>
    <servlet-class>servlets.ModificacionCarreraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificacionCarreraServlet</servlet-name>
    <url-pattern>/ModificacionCarreraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaCarreraServlet</display-name>
    <servlet-name>ConsultaCarreraServlet</servlet-name>
    <servlet-class>servlets.ConsultaCarreraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaCarreraServlet</servlet-name>
    <url-pattern>/ConsultaCarreraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaComisionServlet</display-name>
    <servlet-name>AltaComisionServlet</servlet-name>
    <servlet-class>servlets.AltaComisionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaComisionServlet</servlet-name>
    <url-pattern>/AltaComisionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BajaComisionServlet</display-name>
    <servlet-name>BajaComisionServlet</servlet-name>
    <servlet-class>servlets.BajaComisionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BajaComisionServlet</servlet-name>
    <url-pattern>/BajaComisionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaComisionServlet</display-name>
    <servlet-name>ConsultaComisionServlet</servlet-name>
    <servlet-class>servlets.ConsultaComisionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaComisionServlet</servlet-name>
    <url-pattern>/ConsultaComisionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificacionComisionServlet</display-name>
    <servlet-name>ModificacionComisionServlet</servlet-name>
    <servlet-class>servlets.ModificacionComisionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificacionComisionServlet</servlet-name>
    <url-pattern>/ModificacionComisionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaMateriaServlet</display-name>
    <servlet-name>AltaMateriaServlet</servlet-name>
    <servlet-class>servlets.AltaMateriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaMateriaServlet</servlet-name>
    <url-pattern>/AltaMateriaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BajaMateriaServlet</display-name>
    <servlet-name>BajaMateriaServlet</servlet-name>
    <servlet-class>servlets.BajaMateriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BajaMateriaServlet</servlet-name>
    <url-pattern>/BajaMateriaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaMateriaServlet</display-name>
    <servlet-name>ConsultaMateriaServlet</servlet-name>
    <servlet-class>servlets.ConsultaMateriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaMateriaServlet</servlet-name>
    <url-pattern>/ConsultaMateriaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificacionMateriaServlet</display-name>
    <servlet-name>ModificacionMateriaServlet</servlet-name>
    <servlet-class>servlets.ModificacionMateriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificacionMateriaServlet</servlet-name>
    <url-pattern>/ModificacionMateriaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaUsuarioServlet</display-name>
    <servlet-name>AltaUsuarioServlet</servlet-name>
    <servlet-class>servlets.AltaUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaUsuarioServlet</servlet-name>
    <url-pattern>/AltaUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BajaUsuarioServlet</display-name>
    <servlet-name>BajaUsuarioServlet</servlet-name>
    <servlet-class>servlets.BajaUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BajaUsuarioServlet</servlet-name>
    <url-pattern>/BajaUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaUsuarioServlet</display-name>
    <servlet-name>ConsultaUsuarioServlet</servlet-name>
    <servlet-class>servlets.ConsultaUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaUsuarioServlet</servlet-name>
    <url-pattern>/ConsultaUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificacionUsuarioServlet</display-name>
    <servlet-name>ModificacionUsuarioServlet</servlet-name>
    <servlet-class>servlets.ModificacionUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificacionUsuarioServlet</servlet-name>
    <url-pattern>/ModificacionUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaMesaServlet</display-name>
    <servlet-name>AltaMesaServlet</servlet-name>
    <servlet-class>servlets.AltaMesaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaMesaServlet</servlet-name>
    <url-pattern>/AltaMesaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BajaMesaServlet</display-name>
    <servlet-name>BajaMesaServlet</servlet-name>
    <servlet-class>servlets.BajaMesaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BajaMesaServlet</servlet-name>
    <url-pattern>/BajaMesaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaMesaServlet</display-name>
    <servlet-name>ConsultaMesaServlet</servlet-name>
    <servlet-class>servlets.ConsultaMesaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaMesaServlet</servlet-name>
    <url-pattern>/ConsultaMesaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificacionMesaServlet</display-name>
    <servlet-name>ModificacionMesaServlet</servlet-name>
    <servlet-class>servlets.ModificacionMesaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificacionMesaServlet</servlet-name>
    <url-pattern>/ModificacionMesaServlet</url-pattern>
  </servlet-mapping>
</web-app>