<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>sysacad-java</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscripcionServlet</display-name>
    <servlet-name>InscripcionServlet</servlet-name>
    <servlet-class>servlets.InscripcionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscripcionServlet</servlet-name>
    <url-pattern>/InscripcionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ABMCCarreraServlet</display-name>
    <servlet-name>ABMCCarreraServlet</servlet-name>
    <servlet-class>servlets.ABMCCarreraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ABMCCarreraServlet</servlet-name>
    <url-pattern>/ABMCCarreraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaCarreraServlet</display-name>
    <servlet-name>AltaCarreraServlet</servlet-name>
    <servlet-class>servlets.AltaCarreraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaCarreraServlet</servlet-name>
    <url-pattern>/AltaCarreraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BajaCarreraServlet</display-name>
    <servlet-name>BajaCarreraServlet</servlet-name>
    <servlet-class>servlets.BajaCarreraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BajaCarreraServlet</servlet-name>
    <url-pattern>/BajaCarreraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificacionCarreraServlet</display-name>
    <servlet-name>ModificacionCarreraServlet</servlet-name>
    <servlet-class>servlets.ModificacionCarreraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificacionCarreraServlet</servlet-name>
    <url-pattern>/ModificacionCarreraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaCarreraServlet</display-name>
    <servlet-name>ConsultaCarreraServlet</servlet-name>
    <servlet-class>servlets.ConsultaCarreraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaCarreraServlet</servlet-name>
    <url-pattern>/ConsultaCarreraServlet</url-pattern>
  </servlet-mapping>
</web-app>